* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2e2e2e;
  transform: translate(200px, 200px);
}
.container {
  width: 50%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  min-width: 40vh;
}
form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input {
  border: 1px solid lightgrey;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}
.dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
}
.select-container {
  display: flex;
  width: 6rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.select-container img {
  max-width: 2rem;
}
.from + div {
  margin: 2rem;
}
.msg {
  margin: 2rem 0 2rem 0;
}
form button {
  height: 3rem;
  background-color: hsl(0, 5%, 44%);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
